<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ipaddress" frontName="ipaddress">
            <module name="TrainingJaymin_IpRestriction"/>
        </route>
    </router>
</config>